body {
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
  color: pink;
}

label{
  font-family: HelveticaNeue-thin, Helvetica, sans-serif !important;
}

nav.nav-center ul {
    text-align: center;
    margin: 0px;
}

nav.nav-center ul li {
    display: inline;
}

nav.nav-center ul li a {
    display: inline-block;
    margin: 10px;
    color: black;
    font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

nav.nav-center ul li a:hover {
    color: lightgray;
    text-decoration: none;
} 

#navlinks{
    font-size: 25px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

#selfPortrait{
  border-radius: 150px; 
  width:100; 
  height: auto;
  display: block;
  margin: 0 auto;
}

#intro{
    min-height: 200px;
    background-color: white;
}

#introText{
    font-size: 30px;
}

#about{
    font-family: HelveticaNeue-thin, Helvetica, sans-serif;
    font-size: 25px;
}

#skills{
    background-color: white;
    font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

.progress {
  height: 30px !important;
}

label{
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: normal !important;
}

.progress-bar {
  font-family: HelveticaNeue-thin, Helvetica, sans-serif !important;
  font-size: 20px !important;
  padding: 4px !important;
}

.title{
    text-align: center;
}

#projects{
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

.thumbnail:hover .projectImage{
  background-color: black;
}

.thumbnail:hover img{
  opacity: 0.7;
}

.thumbnail:hover .popup{
  display: block;
}

.popup{
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;  
  opacity: 0.8;
  border-radius: 10px;
  background-color: white;
}

#resumePage{
    background-color: white;
    font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

#resume{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

}

.btn {
  background-color: gray;
  border: none;
  color: white;
  font-size: 20px !important;
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
  width: 200px;
}

#btn:hover {
  background-color: #555 !important; 
}

#contact {
  font-size: 25px;
  text-align: left;
  margin: 10px 10px;
  font-family: HelveticaNeue-thin, Helvetica, sans-serif; 
}

#emailForm{
  margin-left:30%;/* whatever */
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

#contactInfo{
  font-size: 20px;
  margin-left:-40%;
  color: black;
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
}

#contactInfo a {
  vertical-align: top;
  margin: 0 15px 45px;
  margin-top: 10px;
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
  color: black;
  }

#subject{ 
  border-radius: 10px;
  outline: none; 
  border: none; 
}

#message{ 
  border-radius: 10px;
  outline: none; 
  border: none; 
}

#sendButton{
  border-radius: 10px; 
  color: white; 
  border: none; 
  outline: none; 
  font-family: HelveticaNeue-thin, Helvetica, sans-serif;
  padding: 8px; 
  background-color: gray;
}

#sendButton:hover {
  background-color: #555;
}

#icons{
    margin-right: 5px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 20px; /* Increase font size */
    font-family: HelveticaNeue-thin;
    opacity: 0.75;
  }

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.social-links{
  text-align: center;
}

.social-links li {
  display: inline-block;
  text-align: center;
}

.fa {
  font-size: 20px !important;
  padding: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}
  
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
  background:black;
  color: white;
}


.fa-linkedin {
  background: black;
  color: white;
}

.fa-instagram {
  background: black;
  color: white;
}

.fa-twitter {
  background: black;
  color: white;
}

.fa-github {
  font-size: 25px !important;
  padding: 8px;
  background: black;
  color: white;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}